@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
h1,h2,h3,h4
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 10px 0px;
    
}
h2
{
    font-size: 40px;
}
h3
{
    font-size: 25px;
}
h4
{
    font-size: 20px;
}
p
{
    line-height: 25px;
    color: rgba(0, 0, 0, 0.701);
}
a
{
    text-decoration: none;
    
}
#main
{
    background:linear-gradient(rgba(27, 142, 168, 0.4),rgba(18, 19, 20, 0.441)), url(../images/jeriden-villegas-VLPUm5wP5Z0-unsplash-min.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header
{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 30px 0px;
    
}
.logo
{
    text-transform: uppercase;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    
}
.navbar ul li::after
{
    content: '';
    width:0px;
    height: 2.5px;
    background: rgb(226, 140, 12);
    display: block;
    margin: 5px auto;
    transition: all .5s;
}
.navbar ul li:hover::after
{
    width: 80px;
}
.navbar ul li a
{
   
    color: #fff;
    font-size: 17px;
}
.main-container
{
    
   
    color: #fff;
    margin-top: 250px;
    width: 100%;
    text-align: center;
   
}
.main-container p
{
    font-size: 23px;
    color: rgba(255, 255, 255, 0.915);
    text-transform: uppercase;
    
}
.main-container h1
{
   font-size: 50px; 
   margin-top: 15px;
   color: #fff;
}
.main-btn
{
    padding: 15px 20px;
    background: rgb(226, 140, 12);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
.main-btn:hover
{
    background: rgb(226, 183, 12);
}


#our-work
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397);
}
.work-inner
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-col,.work-col2
{
    width: 50%;
    
}
.work-col img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.work-col2
{
    padding-left: 50px;
}

.about-more-btn
{
    padding: 15px 20px;
    background: rgb(226, 140, 12);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.about-more-btn:hover
{
    background: rgb(226, 183, 12);
}




#appoinment-container
{
    padding-top: 70px;
    padding-bottom: 50px;
    background:linear-gradient(rgba(0, 0, 0, 0.725),rgba(0, 0, 0, 0.385)),url(../images/drew-beamer-1TUK-3oEJ1w-unsplash.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}
.appoinment-inner
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.appoinment-col
{
    width: 50%;
}
.appoinment-col h2
{
   color: #fff;
}
.appoinment-col p
{
    color: #fff;
}

.appoin-btn
{
    padding: 15px 20px;
    border: none;
    background: rgb(226, 140, 12);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.appoin-btn:hover
{
    background: rgb(226, 183, 12);
}


#our-team
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397);
}

.c-heading
{
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
}
.c-heading::after
{
    content: '';
    width: 150px;
    height: 3px;
    background: rgb(226, 140, 12);
    display: block;
    margin:5px auto;
}

.team-container
{
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}
.memberscol
{
    width: 23%;
    background: #fff;
    position: relative;
    
}
.memberscol img
{
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}
.memberscol:hover
{
    box-shadow: rgba(0,0,0,.5)0px 2px 6px 0px;
}
.memberscol:hover .mem-label
{
    background:rgb(226, 140, 12) ;
    
}
.memberscol:hover .mem-label p
{
    color: rgba(255, 255, 255, 0.69);
}
.mem-label
{
    text-align: center;
    padding: 10px 0px; 
}
.social-links
{
    position: absolute;
    top: 200px;
    left: 10px;
    opacity: 0;
    transition: all .5s;
    
}
.memberscol:hover .social-links
{
    opacity: 1;
}
.social-links i
{
    display: block;
    background: #000;
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.social-links i:hover
{
    background: rgb(226, 140, 12);
}

#count-section
{
    padding-top: 70px;
    padding-bottom: 50px;
    background:linear-gradient(rgba(0, 0, 0, 0.725),rgba(0, 0, 0, 0.385)),url(../images/henry-co-3coKbdfnAFg-unsplash-min.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}
.count-inner
{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.count-col
{
    width: 25%;
    text-align: center;
    color: #fff;
    border-radius: 30px;
}
.count-col i
{
    font-size: 35px;
    border-radius: 30px;
    background: rgb(226, 140, 12);
    padding: 20px;
}
.count-col p
{
    color: rgba(255, 255, 255, 0.69);
}

#testimonials
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397);
}
.client-container
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}
.client-col
{
    background: #fff;
    width: 30%;
    padding:25px;
    border-radius: 20px;
}
.client-col:hover
{
    background: rgb(226, 140, 12);
    color: #fff;
}
.client-col:hover .client-name p
{
    color: rgba(255, 255, 255, 0.69);
}
.client-col:hover .client-comm p
{
    color: rgba(255, 255, 255, 0.69);
}
.client-label
{
    display: flex;
    align-items: center;
}
.client-label img
{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 30px;
}
.client-name
{
    margin-left: 30px;
}
.client-comm
{
    margin-top: 30px;
}
.client-comm::before
{
    content: '\201c';
   margin-bottom: -50px;
   margin-top: -20px;
   margin-left:0px;
   display: block;
    font-size: 80px;
    font-family: sans-serif;
    font-style: italic;
    color:rgb(226, 140, 12);
}
.client-comm p
{
    padding-left: 35px;
}
.client-col:hover .client-comm::before
{
    color:#fff;
}





#footer
{
    padding-top: 100px;
    background: rgb(32, 31, 31);
}
.f-container
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.f-col
{
    width: 23%;
    color: #fff;
}
.f-col:nth-child(4)
{
    width: 25%;
}
.f-col a
{
    text-decoration: none;
    color: #fff;
}
.f-col a:hover
{
    color:rgb(226, 140, 12);
}
.f-col p
{
    color: rgba(255, 255, 255, 0.69);
}
.s-links
{
    margin-top: 20px;
}
.s-links i
{
    font-size: 15px;
    background: rgba(238, 238, 238, 0.244);
    padding: 10px;
    border-radius:5px;
    color:rgb(226, 140, 12);
    margin-right: 5px;
    cursor: pointer;
}
.f-services
{
    margin-top: 20px;
}
.f-services a
{
    display: block;
    margin-bottom: 20px;
}
.f-links
{
    margin-top: 20px;
}
.f-links i
{
    margin-right: 10px;
}
.f-links a
{
    display: block;
    margin-bottom: 20px;
}
.email-box input
{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
}
.email-box
{
    position: relative;
}
.email-box i
{
    position: absolute;
    top: 32px;
    right: 20px;
    color:rgb(226, 140, 12);
    cursor: pointer;
}

.copyright
{
    text-align: center;
    background: rgb(45, 43, 43);
    padding: 50px 0px;
}
.copyright p
{
    color: rgba(255, 255, 255, 0.69);
}


/* ---------------------------- Home page style end -------------------- */


#common-section
{
   
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.project-page
{
    background:linear-gradient(rgba(27, 142, 168, 0.4),rgba(18, 19, 20, 0.441)), url(../images/nicolas-j-leclercq-WJg2bynUWOk-unsplash-min.jpg);
}
.common-container
{
    text-align: center;
    margin-top: 100px;
}
.common-container h1
{
    font-size: 70px;
    color: #fff;
}

.project-section
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397);
}
.project-container
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding-top: 70px;
    flex-wrap: wrap;
}
.project-col
{
    width: 30%;
    height: 350px;
    background:url(../images/jake-nebov-OPjxGV7ubsY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.project-col:nth-child(2)
{
    background:url(../images/taha-beraam-qufCg4Qa2UM-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.project-col:nth-child(3)
{
    background:url(../images/lycs-architecture-aKij95Mmus8-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.project-col:nth-child(4)
{
    background:url(../images/john-cameron-FppOlvqdrS0-unsplash-min.jpg);
    background-size: cover;
    background-position: center;
}
.project-col:nth-child(5)
{
    background:url(../images/wes-hicks-GlIoShgt2PQ-unsplash-min.jpg);
    background-size: cover;
    background-position: center;
}
.project-col:nth-child(6)
{
    background:url(../images/lisanto-qQj8lcyZ8Fw-unsplash-min.jpg);
    background-size: cover;
    background-position: center;
}
.project-col:hover .project-info
{
    bottom: 0;
}
.project-info
{
    background: rgba(31, 30, 30, 0.614);
    padding: 10px;
    position: absolute;
    bottom: -130px;
    left: 0;
    transition: all .5s;
    width: 100%;
}
.project-info a
{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.project-info p
{
    color: rgba(255, 255, 255, 0.69);
}
.project-info a:hover
{
    color: rgb(226, 140, 12);
}


/* ---------------------------- project page style end -------------------- */
.service-page
{
    background:linear-gradient(rgba(27, 142, 168, 0.4),rgba(18, 19, 20, 0.441)), url(../images/rossella-porta-vPBxg4cpU4Y-unsplash-min.jpg);
}
.service-sec
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397);
}
.serv-container
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    flex-wrap: wrap;
}
.serv-col
{
    width: 32%;
    background: #fff;
    display: flex;
    padding: 30px;
    margin-bottom: 20px;
}
.serv-col:hover
{
    background: rgb(51, 49, 49); 
    color: #fff;
}
.serv-col:hover .serv-info p
{
    color: rgba(255, 255, 255, 0.69);
}
.serv-col:hover i
{
    color: #fff;
    
}
.serv-col:hover .serv-btn
{
    color: #fff;
}
.serv-col i
{
    font-size: 35px;
    color: rgb(226, 140, 12);
    margin-top: 10px;
}
.serv-info
{
    margin-left: 15px;
}
.serv-btn
{
    padding: 10px 20px;
    border: none;
    border: 1px solid rgb(226, 140, 12);
    background:transparent;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
}


/* ---------------------------- services page style end -------------------- */

.blog-page
{
    background:linear-gradient(rgba(27, 142, 168, 0.4),rgba(18, 19, 20, 0.441)), url(../images/arron-choi-fYD54gVXFGM-unsplash-min.jpg);
}
.blog-sec
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397);
}
.blog-container
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    flex-wrap: wrap;
}
.blog-col
{
    width: 32%;
    background: #fff;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,.3)0px 2px 8px 0px;
}
.blog-img
{
    width: 100%;
    height: 350px;
    position: relative;
}
.blog-img img
{
    width: 100%;
    height: 100%;
}
.blog-date
{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(226, 140, 12);
    color: #fff;
    padding: 10px;
    line-height: 20px;
}
.blog-date p
{
    color: #fff;
}
.blog-info
{
   padding: 25px 20px;
}
.blog-info a
{
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.blog-info a:hover
{
    color: rgb(226, 140, 12);
}


/* ---------------------------- Blog page style end -------------------- */

.about-page
{
    background:linear-gradient(rgba(27, 142, 168, 0.4),rgba(18, 19, 20, 0.441)), url(../images/scott-blake-bKGpAV4gFnc-unsplash-min.jpg);
}
.about-sec
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397); 
}
.about-container
{
    width: 80%;
    margin: auto;
    display: flex;
}
.about-col
{
    width: 50%;
}
.ab-2
{
    padding-left: 50px;
}
.about-col img
{
    width: 100%;
    height: 100%;
}

.ex-col
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about-inner
{
    margin-top: 30px;
}
.ex-col i
{
    font-size: 35px;
    color: rgb(226, 140, 12);
}
.ex-info
{
    padding-left: 20px;
}

.about-container2
{
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 150px;
}
.about2-col
{
    width: 50%;
}
.ab2-1
{
    padding-right: 20px;
}
.about2-col img
{
    width: 100%;
    height: 100%;
}

.company-info
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.company-info h2
{
    border-right: 1px solid gray;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 100px;
}
.company-info .year-no
{
    color: rgb(226, 140, 12);
}



/* ---------------------------- About page style end -------------------- */

.contact-page
{
    background:linear-gradient(rgba(27, 142, 168, 0.4),rgba(18, 19, 20, 0.441)), url(../images/headway-5QgIuuBxKwM-unsplash-min.jpg);
}
.contact-sec
{
    padding-top: 100px;
    padding-bottom:100px;
    background: rgba(238, 238, 238, 0.397); 
}
.contact-info
{
   
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.addr-container
{
    width: 80%;
    margin: auto;
}
.addr-col
{
   width: 23%;
}
.address-label
{
    color: rgb(19, 18, 18);
    font-weight: bold;
}
.addr-col a
{
    color: rgb(226, 140, 12);
}

.contact-container
{
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 70px;
    
}
.contact-col
{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.141)0px 2px 6px 2px;
}

.contact-form
{
    padding: 50px 40px;
    background: #fff;
}
.contact-form input
{
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 10px;
    margin-bottom: 20px;
    border: none;
    border: 1px solid rgba(165, 157, 157, 0.366);
    font-size: 15px;
}
.contact-form input:focus
{
   border: 1px solid rgb(226, 140, 12);
}

.contact-form textarea
{
    width: 100%;
    outline: none;
    padding-left: 10px;
    padding-top: 20px;
    border: none;
    border: 1px solid rgba(165, 157, 157, 0.366);
    resize: none;
    font-size: 17px;
}
.contact-form textarea:focus
{
    border: 1px solid rgb(226, 140, 12);
}
.form-btn
{
    background: rgb(226, 140, 12);
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}